<!-- Main Grid Section -->
<div class="row">

<div class="large-4 columns">
  <div class="panel">
    <p>This is a three columns grid panel with an arbitrary height.</p>
  </div>
</div>
<div class="large-5 columns">
  <div class="panel">
    <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum. </p>
  </div>
</div>
<div class="large-3  columns">
  <div class="panel">
    <p>This is a three columns grid panel with an arbitrary height.</p>
  </div>
</div>

</div>


<div class="row">

<div class="large-5 columns">
  <div class="panel">
    <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum. </p>
  </div>
</div>
<div class="large-3 columns">
  <div class="panel">
    <p>
      <!-- <img src="http://placehold.it/200x200" /> -->
      Send my friends photos that disappear instantly.
    </p>
  </div>
</div>
<div class="large-4 columns">
  <div class="panel">
    <p>This is a four columns grid panel with an arbitrary height. Bacon ipsum.</p>
  </div>
</div>

</div>


<div class="row">

<div class="large-4 columns">
  <div class="panel">
    <p>This is a four columns grid panel with an arbitrary height. </p>
  </div>
</div>
<div class="large-3 columns">
  <div class="panel">
    <p>
      <!-- <img src="http://placehold.it/400x300" /> -->
      I'm hungry and I want to eat bacon.
    </p>
  </div>
</div>
<div class="large-5 columns">
  <div class="panel">
    <p>
      <!-- <img src="http://placehold.it/400x300" /> -->
      I should really be doing my homework but this is way more fun.
    </p>
  </div>
</div>

</div>


<div class="row">

<div class="large-6 columns">
  <div class="panel">
    <p>This is a six columns grid panel with an arbitrary height. </p>
  </div>
</div>
<div class="large-3 columns">
  <div class="panel">
    <p>This is a three columns grid panel with an arbitrary height.</p>
  </div>
</div>
<div class="large-3 columns">
  <div class="panel">
    <p>This is a three columns grid panel with an arbitrary height.</p>
  </div>
</div>

</div>

<div class="row">

<div class="large-4 columns">
  <div class="panel">
    <p>This is a three columns grid panel with an arbitrary height.</p>
  </div>
</div>
<div class="large-5 columns">
  <div class="panel">
    <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum. </p>
  </div>
</div>
<div class="large-3  columns">
  <div class="panel">
    <p>This is a three columns grid panel with an arbitrary height.</p>
  </div>
</div>

</div>


<div class="row">

<div class="large-5 columns">
  <div class="panel">
    <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum. </p>
  </div>
</div>
<div class="large-3 columns">
  <div class="panel">
    <p>
      <!-- <img src="http://placehold.it/200x200" /> -->
      Send my friends photos that disappear instantly.
    </p>
  </div>
</div>
<div class="large-4 columns">
  <div class="panel">
    <p>This is a four columns grid panel with an arbitrary height. Bacon ipsum.</p>
  </div>
</div>

</div>


<div class="row">

<div class="large-4 columns">
  <div class="panel">
    <p>This is a four columns grid panel with an arbitrary height. </p>
  </div>
</div>
<div class="large-3 columns">
  <div class="panel">
    <p>
      <!-- <img src="http://placehold.it/400x300" /> -->
      I'm hungry and I want to eat bacon.
    </p>
  </div>
</div>
<div class="large-5 columns">
  <div class="panel">
    <p>
      <!-- <img src="http://placehold.it/400x300" /> -->
      I should really be doing my homework but this is way more fun.
    </p>
  </div>
</div>

</div>


<div class="row">

<div class="large-6 columns">
  <div class="panel">
    <p>This is a six columns grid panel with an arbitrary height. </p>
  </div>
</div>
<div class="large-3 columns">
  <div class="panel">
    <p>This is a three columns grid panel with an arbitrary height.</p>
  </div>
</div>
<div class="large-3 columns">
  <div class="panel">
    <p>This is a three columns grid panel with an arbitrary height.</p>
  </div>
</div>

</div>

<!-- End Grid Section -->
