<head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300' rel='stylesheet' type='text/css'>
    <style>
        main {
            background: transparent;
        }

        body {
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 200;
            background: url("http://farm8.staticflickr.com/7391/12313669475_5fdea15b45_h.jpg") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        h1 {
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 300;
            font-size: 40px;
        }

        .panel {
            background-color: rgba(255, 255, 255, 0.9);
        }

        #splashPanel {
            padding-top: 20px;
        }


        .margin-base-vertical {
            margin: 40px 0;
        }

    </style>
</head>

<div class="container" id="splashPanel">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 panel panel-default">
            <h1 class="margin-base-vertical">Welcome to ScratchPaper</h1>
            <p>Today, many great ideas are created and technologies are built that solve our day to day problems. However, many ideas go unheard of and their related problems unsolved, because the ones who think of them lack the skills and connections to make them happen. ScratchPaper is a place where thinkers and creators come together to collaborate on ideas and bring them to life.</p> 
            <form class="margin-base-vertical">
                <p class="input-group">
                    <span class="input-group-addon"><span class="icon-envelope"></span></span>
                    <input type="text" class="form-control input-lg" name="email" placeholder="teamscratchpaper@scratchpaper.io" />
                </p>
                <p class="help-block text-center"><small>We won't send you spam. Unsubscribe at any time.</small></p>
                <p class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Keep me posted</button>
                </p>
                </span>
            </form>

            <div class="margin-base-vertical">
                <small class="text-muted"><a href="http://www.flickr.com/photos/96625834@N02/12313669475/">Background picture by Nick Freeman</a>. Used under <a href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons - Attribution</a>.</small>
            </div>
        </div>
    </div>
</div>