// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html {
	height: 100%;
}

main {
	margin-top: 0px;
	padding: 0px;
}

body {
	padding-top: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	height: 100%;
	background: #eee;
}

textarea {
	resize: none;
}

#wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

#masonry-container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

#all-ideas {
	position: absolute;
	top: 60px;
}

.navbar.navbar-inverse.navbar-fixed-top {
	background: #333;
	border-bottom: 0px;
}

.item {
	word-wrap: break-word;
	overflow: hidden;
    width: 220px;
    height: 220px;
    margin: 10px;
    float: left;
    background: white;
    color: #333;
    padding: 15px;
    font-size: 18px;
    position: absolute;
    border-radius: 4px;
    border-style: solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-width: 1px;

}

.ideaLink {
	width: 190px;
	height: 170px;
	opacity: 0;
	top: 15px;
	position: absolute;
	z-index: 1;
}

.ideaLink.w2 {
	width: 430px;
	margin-left: 15px;
}

.item.w2 {
	width: 460px;
	padding: 0px;
}

@media screen and (max-width: 480px) {
	.item {
		font-size: 10px;
	}
}

@media screen and (max-width: 400px) {
	.body {
		font-size: 10px;
	}
}

.item.w2 p {
	overflow: hidden;
	float: left;
	width: 220px;
	height: 220px;
	padding: 15px;
	margin-left: 18px;
	margin-bottom: 0px;
}

.item.w2 .img-container {
	float: left;
	height: 200px;
	width: 200px;
	border-radius: 4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.item-buttons {
	left: 15px;
	bottom: 15px;
	position: absolute;
	width: 80px;
	height: 15px;
	opacity: 0.7;	
}

.item-buttons-w2 {
	left: 15px;
	bottom: 15px;
	position: absolute;
	width: 80px;
	height: 15px;
	opacity: 0.7;	
	left: 255px;
}

.follow-button {
	float: left;
	width: 15px;
	height: 15px;
	margin-top: 0px;
	bottom: 0px;
	opacity: 0.7;
}

.follow-button:hover {
	opacity: 1;
}

.follow-count {
	font-size: 13px;
	font-weight: bold;
	float: left;
	margin: 0px;
	bottom: 0px;
}

.like-button {
	float: left;
	width: 12px;
	height: 12px;
	margin-top: 2px;
	margin-left: 2px;
	bottom: 0px;
	opacity: 0.7;
}

.like-button:hover {
	opacity: 1;
}

.like-count {
	font-size: 13px;
	font-weight: bold;
	float: left;
	margin: 0px;
	bottom: 0px;
	margin-left: 3px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.input-group-addon {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-width: 1px; 
	border-radius: 0px;
}

/* Rounded avatars */
.avatar {
	width: 40px;
	height: 40px;
    float: left;
    margin-top: -0.75em;
    margin-right: 1em;
    margin-bottom: -1em;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#new-idea {
	background: white;
	padding: 25px;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px; 
	border-radius: 4px;
	padding-bottom: 15px;
	border-style: solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-width: 1px;
}

#new-idea-cover-photo {
	width: 100%;
	margin-bottom: 10px;
}

#cover-photo-file-field {
	opacity: 0;
	width: 173px;
	height: 25px;
	z-index: 2;
	position: absolute;
	cursor: pointer;
	left: -77px;
}

#add-cover-photo-img {
	width: 50%;
}

#new-idea-buttons {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	height: 25px;
}

.new-idea-button {
	width: 95px;
	height: 25px;
	background: #eee;
	float: left;
	position: relative;
}

.new-idea-button.right {
	float: right;
}

#edit-blurb {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	position: relative;
	border-color: #ccc;
	padding: 5px;
}

#edit-problem {
	width: 100%;
	border-style: none;
	height: 120px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	padding: 5px;
	scroll-top: 0;
}

#edit-solution {
	width: 100%;
	border-style: none;
	height: 120px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	padding: 5px;
}

#new-idea-submit-wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 50px;
}

#new-idea-submit {
	border-style: none;
	background: #eee;	
	width: 50px;
}

#edit-idea-done-wrapper {
  	margin-right: auto;
  	margin-left: auto;
}
  
#edit-idea-done-button {
  		display: inline-block;
	width: 230px;
	margin: 5px;
}
#edit-idea-button {
	display: inline-block;
	width: 230px;
	margin: 5px;
}

.contributor-profile-link {
	width: 190px;
	height: 50px;
	opacity: 0;
	position: absolute;
	z-index: 1;
}
