// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


main {
	background: #eee;
	margin-top: 0px;
	padding: 0px;
}

body {
	padding-top: 50px;
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

#wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

#masonry-container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.navbar.navbar-inverse.navbar-fixed-top {
	background: #333;
	border-bottom: 0px;
}

.item {
	word-wrap: break-word;
	overflow: hidden;
    width: 220px;
    height: 220px;
    margin: 10px;
    float: left;
    background: white;
    color: #333;
    padding: 15px;
    font-size: 20px;
    position: absolute;
    border-radius: 4px;
}

.ideaLink {
	width: 190px;
	height: 170px;
	opacity: 0;
	top: 15px;
	position: absolute;
	z-index: 1;
}

.ideaLink.w2 {
	width: 430px;
	margin-left: 15px;
}

.item.w2 {
	width: 460px;
	padding: 0px;
}

@media screen and (max-width: 480px) {
	.item {
		font-size: 14px;
	}
}

@media screen and (max-width: 400px) {
	.body {
		font-size: 16px;
	}
}

.item.w2 p {
	overflow: hidden;
	float: left;
	width: 220px;
	height: 220px;
	padding: 15px;
	margin-left: 15px;
}

.item.w2 .img-container {
	float: left;
	height: 200px;
	width: 200px;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 10px;
}

.item-buttons {
	right: 10px;
	bottom: 10px;
	position: absolute;
	width: 80px;
	height: 15px;
	opacity: 0.7;	
}

.follow-button {
	float: right;
	width: 15px;
	height: 15px;
	margin-top: 0px;
	bottom: 0px;
	opacity: 0.7;
}

.follow-button:hover {
	opacity: 1;
}

.follow-count {
	font-size: 13px;
	float: right;
	margin: 0px;
	bottom: 0px;
	margin-left: 5px;
}

.like-button {
	float: right;
	width: 12px;
	height: 12px;
	margin-top: 2px;
	margin-left: 2px;
	bottom: 0px;
	opacity: 0.7;
}

.like-button:hover {
	opacity: 1;
}

.like-count {
	font-size: 13px;
	float: right;
	margin: 0px;
	bottom: 0px;
	margin-left: 3px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#idea-countdown {
	background-color: white;
}
