// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
  width: 11em;
  height: 11em;
  margin: 0.5em;
  float: left;
  background: #333;
  color: #ddd;
  padding: 0.8em;
  font-size: 20px;
  position: absolute;
}

.item.w2 {
	width: 23em;
	height: 11em;
	margin: 0.5em;
	float: left;
	background: #333;
	color: #ddd;
	position: absolute;

	p {
		font-size: 20px;
		float: left;
		width: 10em;
		height: 10em;
		margin-left: 1em;
	}

	.img-container {
		float: left;
		height: 9.4em;
		width: 9.4em;
	}
}

#masonry-container {
	margin: auto;
	padding-top: 10px;
}

body {
	background: black;
	font-size: 20px;
}

.follow-button {
	right: 5px;
	bottom: 5px;
	position: absolute;
	width: 1em;
	height: 1em;
}

main {
	background: #111;
	font-weight: lighter;
}