#mainContainer {
  width: 800px;
  margin: auto;
}

#sideBarColumn {
  width: 30%;
  height: 100%;
  float: left;
}

#contentColumn {
  width: 70%;
  height: 100%;
  float: left;
}

.section {
    margin: 10px;
    background: white;
    color: #333;
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
    float: left;
    position: relative;
}

.section.coverPhoto {
    width: 220px;
    height: 220px;
    background: white;
}

.section.coverPhoto.img {
  width: 220px;
}

.section.contributors {
    width: 220px;
    height: 50%;
}

.section.blurb {
    width: 540px;
    height: 100%;
    word-wrap: break-word;
}

.section.description {
    width: 540px;
    height: 100%;
}

.question {
  font-size: 16px;
  font-weight: 500;
}

.section.media {
    width: 540px;
    height: 100%;
}

.section.comments {
  width: 540px;
  height: 100%;
}

#disqus_wrapper {
  max-width: 1200px;
}

.contributor {
  width: 190px;
  height: 50px;
  font-size: 12px;
  margin-bottom: 10px;
}

hr {
  margin-top: 0px;
  margin-bottom: 10px;
}

.contributorImg {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

.contributorImg img {
    border-radius: 2px;
}

.contributorContent {
  width: 130px;
  height: 50px;
  float: left;
}

.slides {
    padding: 0px;
}

.slides li {
    margin-right: 15px;
}

.flexslider{
    background:none;
    border:none;
    box-shadow:none;
    margin:0px;
}

.contributor p {
  margin: 0px;
}

.postedDate {
  font-size: 10px;
}

.contributingSince {
  font-size: 10px;
}

@media screen and (max-width: 480px) {
  #sideBarColumn {
    width: 100%;
  }
  #contentColumn {
    width: 100%;
  }


}

@media screen and (max-width: 400px) {
  .body {
    font-size: 16px;
  }

  #mainContainer {
  width: 100%;
  margin: auto;
}

#sideBarColumn {
  width: 100%;
  height: 100%;
  float: left;
  padding-right: 20px;
}

#contentColumn {
  width: 100%;
  height: 100%;
  float: left;
  padding-right: 20px;
}

.section.coverPhoto {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: atuo;
}

.section.coverPhoto.img {
  width: 100%;
}

.section.contributors {
    width: 100%;
}

.section.blurb {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.section.description {
    width: 100%;
    height: 100%;
}

.question {
  font-size: 16px;
  font-weight: 500;
}

.section.media {
    width: 100%;
    height: 350px;
}

.section.comments {
  width: 100%;
  height: 100%;
}

#disqus_wrapper {
  max-width: 1200px;
}

.contributor {
  width: 190px;
  height: 50px;
  font-size: 12px;
  margin-bottom: 10px;
}

hr {
  margin-top: 0px;
  margin-bottom: 10px;
}

.contributorImg {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

.contributorImg img {
    border-radius: 2px;
  }

.contributorContent {
  width: 130px;
  height: 50px;
  float: left;
}

.contributor p {
  margin: 0px;
}

.postedDate {
  font-size: 10px;
}

.contributingSince {
  font-size: 10px;
}

@media screen and (max-width: 480px) {
  #sideBarColumn {
    width: 100%;
  }
  #contentColumn {
    width: 100%;
  }



}
}
