#profileSummary {
    margin: 10px;
    background: white;
    color: #333;
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
}

#profileImg {
	width: 100px;
	height: 100px;
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
    border-radius: 50%;

}

#profileName {
	text-align: center;
	margin-top: -1.25em;
    margin-bottom: -1em;
}

.profileStats {
	overflow: hidden;
}

#numIdeas {
	float: left;
	margin-left: 50px;
}

#numIdeasCount {
	float: left;
	margin-left: 62px;
    font-size: 200%;
}

#numContributionsCount {
	float: right;
	margin-right: 100px;
    font-size: 200%;
}

#numContributions {
	float: right;
	margin-right: 50px;
}
