#profileSummary {
    margin-top: 18px;
    background: white;
    color: #333;
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
    border-style: solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
}

#profileImg {
	width: 100px;
	height: 100px;
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
    border-radius: 50%;

}

#profileName {
	text-align: center;
	margin-top: -1.25em;
    margin-bottom: -1em;
}

.profileStats {
	overflow: hidden;
}

#numIdeas {
	float: left;
	margin-left: 50px;
}

#numIdeasCount {
	float: left;
	margin-left: 62px;
    font-size: 200%;
}

#numContributionsCount {
	float: right;
	margin-right: 100px;
    font-size: 200%;
}

#numContributions {
	float: right;
	margin-right: 50px;
}

#profile-photo-file-field {
  opacity: 0;
  width: 100px;
  height: 100px;
  z-index: 2;
  cursor: pointer;
  left: 0px;
  top: 0px;
}

#edit-profile-photo-wrapper {
  width: 30px;
  background: white;
  border-radius: 2px;
  opacity: 0.7;
}

#edit-profile-photo {
  width: 30px;
  border-radius: 2px;
  opacity: 0.6;
}

#edit-profile-done-button {
  display: inline-block;
  width: 100px;
  margin-top: -60px;
  opacity: 0.5;
}

@media screen and (max-width: 480px) {
    #profileSummary {
        width: 95%;
    }

    #numIdeas {
        float: left;
        margin-left: 20px;
    }

    #numIdeasCount {
        float: left;
        margin-left: 32px;
        font-size: 200%;
    }

    #numContributions {
        float: right;
        margin-right: 5px;
    }

    #numContributionsCount {
        float: right;
        margin-right: 52px;
        font-size: 200%;
    }

}