<%# navigation styled for Zurb Foundation 5 %>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav pull-right">
                <li><%= link_to 'Home', root_path %></li>
                <li><%= render 'layouts/navigation_links' %></li>
            </ul>
        </div>
    </div>
</nav>

